/my_app/venv/
/my_app/config/.env
/my_app/movies/locale/ru/LC_MESSAGES/django.mo
/my_app/drafts.py
/venv/
/.idea/
/.idea/vcs.xml

/etl/main_old.py
/etl/try_helpers.bulk.py
/etl/try_bulk.py
/etl/ETLTests-2.json
/etl/logs/
